.main-container {
    padding: 2rem;
}

.main-container h2{
    font-size: 32px;
}

.search-div {
    background-color: #181818;
    width: 80vw;
    display: flex;
    justify-content: space-around;
    padding: 1rem;
}

.search-div label{
    color: #fff;
}

.search-div select {
    margin: 0 1rem;
    height: 26px;
}

#filtrar-btn {
    width: 160px;
    height: 26px;
}