.resultados-container {
    padding: 2rem;

}

.resultados-container h2{
    font-size: 32px;

}

#exame-titulo{
    margin: 0 1rem;
    background-color: #181818;
    border: 1px solid #fff;
    height: 20px;
    color: #fff;
    padding: 1rem;
}

#tabela-avaliacoes {
    width: 1800px;
}

